body {
    position: relative;
    font-family: "Copperplate Gothic Bold", monospace;
    font-size: 30px;
    min-height: 400px;
  }
  
  input[type="radio"] {
    transform: scale(1.5);
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -500px;
    left: -10px;
    background-image: url("https://images.unsplash.com/photo-1586974710160-55f48f417990?ixlib=rb-1.2.1& ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80");
    background-color: #ffffff;
    background-size: screen;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  }
  
  .container {
    position: relative;
    text-align: center;
    padding: 0px;
    height: 50vh;
  }
  
  .page-title {
    position: relative;
    color: #000000;
    margin: 0 0 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
  }
  
  .dolaumzim {
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: scaleX(-1);
  }
  
  input {
    margin: 6px;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 20px;
  }
  
  label {
    color: black;
  }
  
  button {
    margin-top: 12px;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    background: #ffffff;
    font-size: 25px;
    font-family: "Times New Roman";
  }
  
  h2 {
    position: relative;
    color: #000000;
    font-size: 30px;
  }
  